h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 150;
    margin-bottom: 0%;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    margin-top: 0%;
}

hr {
    width: 80%;
    margin-top: 50px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

a {
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.image img {
    display: inline;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    align-self: center;
}